:root {
  --background: yellow;
  --primary: black;
}

[data-theme="dark"] {
  --background: green;
  --primary: white;
}

.App {
  text-align: center;
  height: 100vh;
  background: var(--background);
}
.primary {
  color: var(--primary);
}
